.post-container
  .post-content.no-padding
    %img{alt: "danish personal blog template", src: "assets/img01.jpg"}/
  .post-content
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
  .post-atribut
    .row
      .col-md-4.col-sm-4.col-xs-4
        %a{href: "#"}
          %span
            %i.fa.fa-heart
            2000
      .col-md-4.col-sm-4.col-xs-4
        %a{href: "#"}
          %span
            %i.fa.fa-comments
            400
      .col-md-4.col-sm-4.col-xs-4
        %a{href: "#"}
          %span
            %i.fa.fa-eye
            2500