%h1 About

%p Elskamor is a Berlin-based travel platform for vegans and vegetarians and anyone else looking to expand their boundaries and rise to the occasion. Since the summer of 2014 Elskamor has been offering the best retreats featuring the most nourishing foods in some of the worlds most inspiring places.
%p One part love for yourself, one part love for the world, Elskamor combines physical and mental challenges with great food and local culture. Our offers are hand picked, off-the-beaten path destinations amidst breathtaking natural beauty.
%p Elskamor is not your traditional travel platform, but rather a resource for vegetarian and vegans looking to get the most out of their experience traveling the world.

%h1 Why the Name Elskamor

%p Elskamor stands for double love: Elska means “love” in Icelandic and of course “amor” everyone knows. The two put together make Elsk(a)more.
%p Elskamor means love for your body and mind as well as love for the planet. It combines love for travel and adventure with love for nourishing vegan and vegetarian food.

%h1 Our Values

%p We want to have a conversation about eating a plant based diet, about challenging yourself and expanding your comfort zone and about striving to be a kind and thoughtful human being.
%p Eskamor is an open place where everyone is welcome. We are not about being pure or strict or 100% anything. Instead Elskamor is about being informed and inspired. We want you to have fun while living according to values such as kindness and respect.
%p We strive towards a wholly plant-based diet, towards regular exercise and meditation and towards interacting with the world and its inhabitants in a kind and respectful way. But we also understand that this is a process. To borrow a catchphrase: It’s all about progress not perfection, people!
