%h1 Our mission

%p Elskamor wants to makes it easier for vegetarians and vegans to explore this beautiful world. We believe that exploration of our surroundings as well as our inner and outer selves is vital to our well-being. As such, we want to encourage travelers to experience this world differently.
%p Elskamor is the place for vegans and vegetarians to book travels that combine activities such as yoga and surfing with amazing plant based food. Being aspiring vegans ourselves we know that the most beautiful and secluded beaches often do not have the best vegan food. We are here to help you find the ones that do.
%p We want to you to be able to go wherever you want to go and do what whatever you want to do. Surfing in Portugal? Climbing in Sardinia? Hiking in Germany? If you travel through us you can do all that and never have to worry about where you will find the food that agrees with your stomach and values at the end of the day.

%h1 How it works

%p Our two main passions are adventure travel and amazing food. Elskamor will create strong partnerships with travel providers that share our passion and compassion thereby providing a superior experience for the curious and caring voyager.
%h3 This is how you can find and book your next voyage.
%ol
  %li Find the retreat of your dreams by browsing our offers or searching for a specific activity (yoga, climbing, surfing, …), country or type of cuisine (vegan, vegetarian, glutenfree, flexitarian).
  %li Be inspired and fall in love with one of our offers.
  %li Book directly on our website.

%p That’s it - we like to keep things simple! You still have to do the packing though.

%h1 Get Involved

%p We want YOU to be part of our community. If you feel inspired to get involved we want to hear from you. Drop us a line if you have a trip idea, want to recommend a teacher or adventure guide, tell us about an amazing retreat destination, or anything else that you want to share with us.
%p Email us: contact@elskamor.com.

%h1 Partners

%p We are continually looking for opportunities to form new partnerships. If you identify with our mission and share our objectives we would love to hear from you! Email us at contact@elskamor.com
