%h1 Team
%p We are an international team of three women based in Berlin, Germany. Our backgrounds range from online marketing to financial services to grassroots political campaigns but we are united in our passion for appreciating the wonders of the world.

%h1 Maria Berdugo – Co-Founder/PR and Marketing
%p Maria is a world citizen at heart, she has lived one-third of her life in three different continents, Latin America, North America and Europe so travelling is part of her genetics. She is hooked on an active lifestyle and loves to discover and connect with nature, exchange ideas with people, and fuel herself with amazing food! She is actively pursuing a plant-based nutrition and enjoys sharing her “food journey” as it keeps having a phenomenally positive and transformative effect on her life. maria@elskamor.com

%h1 Anita Jaszewska – Co-Founder/Product and Developer
%p Anita is a strong karma believer, who enjoys being close to nature and meeting people from different cultures. She is crazy about technology, and loves tinkering with electronics. In addition, she can’t stay for too long in one place, so travelling is by default a major passion of hers.

anita@elskamor.com

%h1 Anna Schachtschneider – Co-Founder/Business Development and Editorial
%p Anna is a passionate environmentalist looking to change the world in a good and meaningful way. She has experience in grassroots campaigns, political organizing and the start-up world. She is also an amazing cook and keeps the team happy with vegan treats.
anna@elskamor.com
