%section#content
  .container
    .row
      .col-md-8.col-sm-8
        .row
          .col-md-12.post-single
            = image_tag("img05.jpg")
            %p= raw(@offer.description)
        %hr/

      .col-md-4.col-sm-4.sidebar
        .widget-sidebar
          %h3 Contact us about this offer: