%body
  #navbar-top.collapse.navbar-collapse
    .container
      %a.navbar-brand{href: root_path}
        ELSKAMOR
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: root_path} Home
        %li
          %a{href: posts_path} Blog
        %li
          %a{href: offers_path} Offers
        -# %li.dropdown
        -#   %a.dropdown-toggle{"data-toggle" => "dropdown"}
        -#     Pages
        -#     %b.caret
        -#   %ul.dropdown-menu
        -#     %li
        -#       %a{:href => "blog.html"} Blog
        -#     %li
        -#       %a{:href => "single.html"} Single
        -#     %li
        -#       %a{:href => "archive.html"} Archives
        -#     %li
        -#       %a{:href => "category.html"} Category
        -#     %li
        -#       %a{:href => "portfolio.html"} Portfolio
        -#     %li
        -#       %a{:href => "portfolio-single.html"} Portfolio Single
        - if user_signed_in?
          %li
            = link_to 'Sign out', destroy_user_session_path
        -else
          %li
            %a{href: new_user_session_path} Sign in

  %section#header{style: "background-image: url('http://33.media.tumblr.com/ba7758a52675589e05dc931572be9688/tumblr_n7ygur3NV91st5lhmo1_1280.jpg');"}
    .container
      .row
        %h1.text-center ELSKAMOR
        -# = image_tag("Elskamor_Logo_Transparent_White.tif")

  -# .flash-messages
  -#   - flash.each do |name, msg|
  -#     - if msg.is_a?(String)
  -#       .alert.alert-default.alert-dismissable
  -#         %a.close{"data-dismiss" => "alert"} &times;
  -#         = content_tag :span, msg, :id => "flash_#{name}"
