%head
  %meta{charset: "utf-8"}/
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
  %meta{content: "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
  %meta{content: "", name: "description"}/
  %meta{content: "", name: "author"}/
  %link{href: "assets/favicon.ico", rel: "shortcut icon"}/
  %title Elskamor
  %link{href: "css/bootstrap.css", rel: "stylesheet"}/
  %link{href: "http://fonts.googleapis.com/css?family=Raleway:400,800", rel: "stylesheet", type: "text/css"}/
  %link{href: "http://fonts.googleapis.com/css?family=Noto+Serif:700,400italic", rel: "stylesheet", type: "text/css"}/
  %link{href: "css/font-awesome.min.css", rel: "stylesheet"}/
  %link{href: "css/style.css", rel: "stylesheet"}/
  %link{href: "css/responsive.css", rel: "stylesheet"}/
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
